.example-spacer {
    flex: 1 1 auto;
  }

  mat-icon{
    margin-right: 8px;
  }

  mat-toolbar{
    background-color: #B1E286;
    button{
      color:white;
      background-color: #4188FF;
    }

    h1{
      margin-top: auto;
    }
  }